# Windows metadata
*:Zone.Identifier

data/*
models/*
.vscode/
*_chroma/
data
models
*.ipynb_checkpoints
__pycache__
.venv
.idea
*.egg-info
.env
build
dist
*db/
*.csv
# Build / packaging
*.egg-info/
dist/
build/
# Artifacts
artifacts/*.png
artifacts/*.json
artifacts/*.pt
evaluation/*.png
evaluation/*.csv
output/
# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo

# coverage
.coverage
.coverage.*
htmlcov/
# pytest
.pytest_cache/
# mypy
.mypy_cache/
.dmypy.json
dmypy.json